@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Quicksand:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainBg: #e8ecec;
  --mainCl: #282c30;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--mainBg);
  color: var(--mainCl);
  line-height: 1.4;
  min-height: 100vh;
  overflow-y: hidden;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}
.logo_text {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: var(--mainCl);
  opacity: 0.8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 25px;
}

li a {
  text-decoration: none;
  color: var(--mainCl);
  border-radius: 8px;
  padding: 6px 14px;
}

.resume {
  border: #282c30 1px solid;
}

li a:hover {
  background-color: var(--mainCl);
  color: var(--mainBg);
}

main {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20vh;
}

.hero-section h1 {
  line-height: 2;
  font-size: 3rem;
  font-weight: 700;
}

.hero-section p {
  font-size: 1.3rem;
  line-height: 1.7;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 75%;
  }

  ul {
    margin-left: 1rem;
  }
  li {
    margin-top: 1rem;
    margin-right: 5px;
  }

  .resume {
    border: none;
    padding: 0;
  }
  .logo a {
    margin: 0;
    font-size: 1.7rem;
  }

  .hero-section h1 {
    text-align: center;
    line-height: 1;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .hero-section p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.7;
  }
}
